version: '3.8'

services:
  consul:
    image: hashicorp/consul:1.16.1
    container_name: consul-server
    ports:
      - "8500:8500"    # HTTP API Ð¸ UI
      - "8600:8600/tcp" # DNS
      - "8600:8600/udp" # DNS
      - "8300:8300"    # RPC
      - "8301:8301"    # Serf LAN
      - "8301:8301/udp" # Serf LAN
      - "8302:8302"    # Serf WAN
      - "8302:8302/udp" # Serf WAN
    command: "agent -server -ui -node=server-1 -bootstrap-expect=1 -client=0.0.0.0"
    volumes:
      - consul-data:/opt/consul/data

  postgres:
    image: postgres:15
    container_name: soa
    environment:
      POSTGRES_DB: db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
    ports:
      - "5418:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  consul-data:
  postgres_data:
